version: "3.9"

services:
  frontend:
    build:
      context: ./DiseaseMutationsApp
      dockerfile: Dockerfile
    image: disease-mutations-frontend:latest
    container_name: disease-mutations-frontend
    ports:
      - "8080:80"
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: disease-mutations-backend:latest
    volumes:
      - ./bowtie:/app/bowtie
    container_name: disease-mutations-backend
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    restart: unless-stopped