@page "/"

<PageTitle>Index</PageTitle>

<h1>Disease Mutations App</h1>

Welcome to your new app.


@inject HttpClient Http

<button class="btn btn-primary" style="font-size: 16px;" @onclick="FetchData">Fetch Data</button>
@if (data != null)
{
    <p>Data: @data</p>
}

@code {
    private string? data;

    private async Task FetchData()
    {
        var seq = await Sequence.UsingId("NG_016465.4").From(70169).To(70190).Get();
        data = seq;
    }
}